# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
package-lock.json
pnpm-workspace.yaml

/cypress/videos/
/cypress/screenshots/
/docs/public/angular-webcomponents
/docs/public/demo

cache
/packages/components/index.ts
/packages/components-ng/assets/demo
/packages/components-ng/projects/demo-app/assets/demo
/packages/components-ng/projects/demo-app/src/assets/demo

/components/index.ts
.temp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
auto-imports.d.ts
