@import 'devui-theme/styles-var/devui-var.scss';

.mc-bubble-avatar-wrapper {
  display: inline-block;

  .mc-bubble-avatar-style {
    display: inline-block;
    text-align: center;
    color: $devui-light-text;
  }

  .mc-bubble-avatar-background-0 {
    background-color: #ff8b87;
  }

  .mc-bubble-avatar-background-1 {
    background-color: #7693f5;
  }
}