@import 'devui-theme/styles-var/devui-var.scss';

.mc-tab {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
  color: $devui-text; 
  border-bottom: 2px solid transparent;
  transition: all 0.3s;

  &:hover {
    color: $devui-brand;
  }

  &.active {
    color: $devui-brand;
    border-bottom-color: $devui-brand;
  }
}