.mc-list-demo-input {
  width: 100%;
  border: 1px solid var(--devui-form-control-line, #d7d8da);
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: var(--devui-border-radius, 2px);
  background-color: var(--devui-form-control-bg, #ffffff);
  color: var(--devui-text, #252b3a);
};
