@import 'devui-theme/styles-var/devui-var.scss';
.mc-attachment {
  display: inline-block;
  cursor: pointer;
  position: relative;

  // 隐藏原生的 input 元素
  .mc-attachment-file {
    display: none;
  }
}

// 拖拽上传弹窗样式
.mc-attachment-drag-area {
  position: absolute;
  inset: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $devui-base-bg;
  border: 2px dashed $devui-brand; // 使用品牌主色
  border-radius: $devui-border-radius;
  color: $devui-text;
  font-size: $devui-font-size;
  font-weight: bold;
  z-index: 9999;
}
