
.copy-class {
  color: green;
}
/* like 和 dislike 激活状态下组件会添加 .mc-action-item-active 属性，可单独修改激活状态下的颜色 */
.like-color {
  ::ng-deep .mc-action-item-active {
    color: #FFCC80;
  }
}
.bubble-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
